Repository illyay2017/membo.ai-3lbhdq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @membo/core-team, @membo/backend-team, @membo/tech-leads, @membo/frontend-team, @membo/ios-team, @membo/mobile-leads, @membo/android-team, @membo/devops-team, @membo/ai-team, @membo/learning-team, @membo/security-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/src/backend/src/core/ai/contentProcessor.ts
  src/backend/src/core/ai/contentProcessor.ts
Owners: @membo/ai-team, @membo/backend-team

Add public-samples/membo.ai-3lbhdq/src/backend/src/core/ai/quizGenerator.ts
  src/backend/src/core/ai/quizGenerator.ts
Owners: @membo/ai-team, @membo/backend-team

Add public-samples/membo.ai-3lbhdq/src/backend/src/core/ai/voiceProcessor.ts
  src/backend/src/core/ai/voiceProcessor.ts
Owners: @membo/ai-team, @membo/backend-team

Add public-samples/membo.ai-3lbhdq/src/backend/src/core/study/FSRSAlgorithm.ts
  src/backend/src/core/study/FSRSAlgorithm.ts
Owners: @membo/learning-team, @membo/backend-team

Add public-samples/membo.ai-3lbhdq/src/backend/src/core/study/cardScheduler.ts
  src/backend/src/core/study/cardScheduler.ts
Owners: @membo/learning-team, @membo/backend-team

Add public-samples/membo.ai-3lbhdq/src/backend/src/core/study/performanceAnalyzer.ts
  src/backend/src/core/study/performanceAnalyzer.ts
Owners: @membo/learning-team, @membo/backend-team

Add public-samples/membo.ai-3lbhdq/src/backend/src/core/study/studySessionManager.ts
  src/backend/src/core/study/studySessionManager.ts
Owners: @membo/learning-team, @membo/backend-team

Add public-samples/membo.ai-3lbhdq/src/backend/src/db/migrations/00001_initial_schema.sql
  src/backend/src/db/migrations/00001_initial_schema.sql
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/db/migrations/00002_add_user_preferences.sql
  src/backend/src/db/migrations/00002_add_user_preferences.sql
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/db/migrations/00003_add_study_analytics.sql
  src/backend/src/db/migrations/00003_add_study_analytics.sql
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/db/seeds/development.sql
  src/backend/src/db/seeds/development.sql
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/db/seeds/test.sql
  src/backend/src/db/seeds/test.sql
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/interfaces/ICard.ts
  src/backend/src/interfaces/ICard.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/interfaces/IContent.ts
  src/backend/src/interfaces/IContent.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/interfaces/IStudySession.ts
  src/backend/src/interfaces/IStudySession.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/interfaces/IUser.ts
  src/backend/src/interfaces/IUser.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/models/Card.ts
  src/backend/src/models/Card.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/models/Content.ts
  src/backend/src/models/Content.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/models/StudySession.ts
  src/backend/src/models/StudySession.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/models/User.ts
  src/backend/src/models/User.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/services/AuthService.ts
  src/backend/src/services/AuthService.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/services/CardService.ts
  src/backend/src/services/CardService.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/services/ContentService.ts
  src/backend/src/services/ContentService.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/services/StudyService.ts
  src/backend/src/services/StudyService.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/services/UserService.ts
  src/backend/src/services/UserService.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/services/VoiceService.ts
  src/backend/src/services/VoiceService.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/types/environment.d.ts
  src/backend/src/types/environment.d.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/types/express.d.ts
  src/backend/src/types/express.d.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/utils/encryption.ts
  src/backend/src/utils/encryption.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/utils/fsrs.ts
  src/backend/src/utils/fsrs.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/utils/jwt.ts
  src/backend/src/utils/jwt.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/utils/queue.ts
  src/backend/src/utils/queue.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/utils/validation.ts
  src/backend/src/utils/validation.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/websocket/WebSocketManager.ts
  src/backend/src/websocket/WebSocketManager.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/websocket/handlers/studySessionHandler.ts
  src/backend/src/websocket/handlers/studySessionHandler.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/websocket/handlers/voiceHandler.ts
  src/backend/src/websocket/handlers/voiceHandler.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/tests/integration/auth.test.ts
  src/backend/tests/integration/auth.test.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/tests/integration/cards.test.ts
  src/backend/tests/integration/cards.test.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/tests/integration/content.test.ts
  src/backend/tests/integration/content.test.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/tests/integration/study.test.ts
  src/backend/tests/integration/study.test.ts
Owners: @membo/backend-team, @membo/tech-leads

.github/CODEOWNERS:

# Unless a later match takes precedence, @membo/core-team will be requested for review
* @membo/core-team

# Backend service code ownership
src/backend/** @membo/backend-team @membo/tech-leads

# Web application code ownership
src/web/** @membo/frontend-team @membo/tech-leads

# Mobile application code ownership
src/ios/** @membo/ios-team @membo/mobile-leads
src/android/** @membo/android-team @membo/mobile-leads

# Infrastructure and deployment configuration ownership
infrastructure/** @membo/devops-team @membo/tech-leads

# CI/CD workflow configuration ownership
.github/workflows/** @membo/devops-team @membo/tech-leads

# AI processing components require both AI and backend team review
src/backend/src/core/ai/** @membo/ai-team @membo/backend-team

# Study algorithm components require both learning and backend team review
src/backend/src/core/study/** @membo/learning-team @membo/backend-team

# Security configuration requires both security and devops team review
infrastructure/security/** @membo/security-team @membo/devops-team

# Monitoring configuration requires both devops and SRE team review
infrastructure/monitoring/** @membo/devops-team @membo/sre-team

# Package dependency management restricted to tech leads for security
package.json @membo/tech-leads

# CODEOWNERS file modifications restricted to tech leads only
.github/CODEOWNERS @membo/tech-leads
