Repository illyay2017/membo.ai-3lbhdq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @membo/core-team, @membo/backend-team, @membo/tech-leads, @membo/frontend-team, @membo/ios-team, @membo/mobile-leads, @membo/android-team, @membo/devops-team, @membo/ai-team, @membo/learning-team, @membo/security-team, @membo/sre-team

trying to fix backend
  .dockerignore
  src/backend/.eslintrc.json
  src/backend/Dockerfile
  src/backend/docker-compose.yml
  src/backend/nodemon.json
  src/backend/package.json
  src/backend/src/core/analytics/PerformanceAnalyzer.ts
  src/backend/src/core/metrics/MetricsCollector.ts
  src/backend/src/server.ts
  src/backend/src/websocket/ConnectionPool.ts
  src/backend/supabase/migrations/20240119000002_add_user_preferences.sql
  src/backend/supabase/seed.sql
  src/backend/tsconfig.json
  src/web/package.json
Owners: @membo/core-team, @membo/backend-team, @membo/tech-leads

wip - trying to fix backend issues
  src/backend/docker-compose.yml
  src/backend/package.json
  src/backend/src/api/controllers/VoiceController.ts
  src/backend/src/api/routes/voice.routes.ts
  src/backend/src/core/ai/voiceProcessor.ts
Owners: @membo/backend-team, @membo/tech-leads, @membo/ai-team

got backend to work! added readme
  README.md
  src/backend/Dockerfile
  src/backend/docker-compose.yml
  src/backend/src/api/controllers/VoiceController.ts
  src/backend/src/api/routes/index.ts
  src/backend/src/api/routes/voice.routes.ts
  src/backend/src/api/validators/voice.validator.ts
  src/backend/src/app.ts
  src/backend/src/config/openai.ts
  src/backend/src/config/redis.ts
  src/backend/src/config/supabase.ts
  src/backend/src/core/ai/voiceProcessor.ts
  src/backend/src/server.ts
  src/backend/src/services/VoiceService.ts
  src/backend/src/websocket/WebSocketManager.ts
  test-recorder.html
Owners: @membo/core-team, @membo/backend-team, @membo/tech-leads, @membo/ai-team

working on webapp
  src/backend/Dockerfile
  src/backend/docker-compose.yml
  src/backend/package.json
  src/backend/src/api/controllers/StudyController.ts
  src/backend/src/core/monitoring/PerformanceMonitor.ts
  src/backend/src/middlewares/performanceMonitoring.middleware.ts
  src/web/.dockerignore
  src/web/Dockerfile
  src/web/docker-compose.yml
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/src/lib/performanceMonitor.ts
  src/web/src/pages/Study/StudyPage.tsx
Owners: @membo/backend-team, @membo/tech-leads, @membo/frontend-team

making progress on webapp
  src/web/Dockerfile
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/postcss.config.js
  src/web/src/main.tsx
  src/web/src/styles/globals.css
  src/web/tailwind.config.js
Owners: @membo/frontend-team, @membo/tech-leads

updated readme
  src/web/README.md
Owners: @membo/frontend-team, @membo/tech-leads

fixed tailwind config
  src/web/src/styles/tailwind.css
  src/web/tailwind.config.ts
Owners: @membo/frontend-team, @membo/tech-leads

fixed webapp errors
  src/web/index.html
  src/web/public/icon.svg
  src/web/public/logo.svg
  src/web/public/manifest.json
  src/web/src/App.tsx
  src/web/src/components/ErrorComponent.tsx
  src/web/src/constants/routes.ts
Owners: @membo/frontend-team, @membo/tech-leads

udpated readme
  src/web/README.md
Owners: @membo/frontend-team, @membo/tech-leads

fixed DB initialization on server
  src/backend/docker-compose.yml
  src/backend/package.json
  src/backend/src/api/controllers/AuthController.ts
  src/backend/src/api/routes/auth.routes.ts
  src/backend/src/api/routes/index.ts
  src/backend/src/api/validators/auth.validator.ts
  src/backend/src/app.ts
  src/backend/src/config/database.ts
  src/backend/src/config/redis.ts
  src/backend/src/constants/userRoles.ts
  src/backend/src/services/AuthService.ts
  src/backend/src/services/CardService.ts
  src/web/docker-compose.yml
  src/web/src/constants/api.ts
  src/web/src/services/authService.ts
Owners: @membo/backend-team, @membo/tech-leads, @membo/frontend-team

wip - trying to get auth to work e2e - getting closer
  docker-compose.yml
  src/backend/docker-compose.yml
  src/backend/package.json
  src/backend/scripts/seed-users.ts
  src/backend/scripts/sql/create-user-function.sql
  src/backend/src/api/routes/auth.routes.ts
  src/backend/src/api/routes/index.ts
  src/backend/src/api/validators/auth.validator.ts
  src/backend/src/api/validators/card.validator.ts
  src/backend/src/config/supabase.ts
  src/backend/src/interfaces/ICard.ts
  src/backend/src/models/User.ts
  src/backend/src/services/AuthService.ts
  src/backend/src/services/CardService.ts
  src/backend/src/utils/validation.ts
  src/backend/supabase/migrations/20240119000001_initial_schema.sql
  src/backend/supabase/seed.sql
  src/backend/tsconfig.json
Owners: @membo/core-team, @membo/backend-team, @membo/tech-leads

JUST debugging login on backend
  src/backend/package.json
  src/backend/scripts/create-test-user.ts
  src/backend/src/api/controllers/AuthController.ts
  src/backend/src/api/routes/auth.routes.ts
  src/backend/src/api/routes/index.ts
  src/backend/src/app.ts
  src/backend/src/services/AuthService.ts
  src/backend/src/utils/auth.ts
  src/backend/supabase/_backup_migrations_not_used/20240119000002_add_user_preferences.sql
  src/backend/supabase/_backup_migrations_not_used/20240119000003_add_study_analytics.sql
  src/backend/supabase/config.toml
  src/backend/supabase/migrations/20240119000001_initial_schema.sql
  src/backend/supabase/migrations/20240119000002_content_and_cards.sql
  src/backend/supabase/migrations/20240119000003_study_sessions.sql
  src/backend/supabase/migrations/20240119000004_enhanced_analytics.sql
  src/backend/supabase/seed.sql
Owners: @membo/tech-leads, @membo/backend-team

fixed supabase auth
  src/backend/scripts/create-test-user.ts
  src/backend/src/api/controllers/AuthController.ts
  src/backend/src/app.ts
  src/backend/src/config/supabase.ts
  src/backend/src/constants/errorCodes.ts
  src/backend/src/services/AuthService.ts
Owners: @membo/backend-team, @membo/tech-leads

completed E2E login logic
  src/backend/src/api/controllers/AuthController.ts
Owners: @membo/backend-team, @membo/tech-leads

fixed webapp auth
  .cursor/rules/.cursorrules
  docker-compose.yml
  src/backend/docker-compose.yml
  src/backend/src/api/controllers/AuthController.ts
  src/backend/src/api/routes/auth.routes.ts
  src/backend/src/api/validators/auth.validator.ts
  src/backend/src/interfaces/IUser.ts
  src/backend/src/models/User.ts
  src/backend/src/services/AuthService.ts
  src/backend/src/utils/jwt.ts
  src/backend/src/utils/validation.ts
  src/web/docker-compose.yml
  src/web/src/App.tsx
  src/web/src/components/ui/input.tsx
  src/web/src/hooks/useAuth.ts
  src/web/src/pages/Auth/LoginPage.tsx
  src/web/src/pages/Auth/RegisterPage.tsx
  src/web/src/services/authService.ts
  src/web/src/store/authStore.ts
  src/web/src/types/auth.ts
  src/web/src/vite-env.d.ts
  src/web/vite.config.ts
Owners: @membo/core-team, @membo/backend-team, @membo/tech-leads, @membo/frontend-team

need to debug logout
  src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/routes/auth.routes.ts
  src/backend/src/services/AuthService.ts
  src/web/src/App.tsx
  src/web/src/components/cards/CardFilters.tsx
  src/web/src/components/content/ContentActions.tsx
  src/web/src/components/content/ContentList.tsx
  src/web/src/components/layout/AppShell.tsx
  src/web/src/components/layout/Header.tsx
  src/web/src/components/layout/Sidebar.tsx
  src/web/src/components/ui/select.tsx
  src/web/src/hooks/useAuth.ts
  src/web/src/lib/api.ts
  src/web/src/lib/storage.ts
  src/web/src/pages/Content/InboxPage.tsx
  src/web/src/pages/Dashboard/DashboardPage.tsx
  src/web/src/pages/Settings/PreferencesPage.tsx
  src/web/src/pages/Settings/ProfilePage.tsx
  src/web/src/pages/Settings/SettingsPage.tsx
  src/web/src/pages/Study/StudyPage.tsx
  src/web/src/services/authService.ts
  src/web/src/services/cardService.ts
  src/web/src/store/authStore.ts
  src/web/src/store/uiStore.ts
  src/web/src/utils/validation.ts
  src/web/tailwind.config.ts
Owners: @membo/backend-team, @membo/tech-leads, @membo/frontend-team

WIP - webapp is rendering
  src/web/src/components/layout/AppShell.tsx
Owners: @membo/frontend-team, @membo/tech-leads

fixed e2e auth, refactored backend auth modules and backend services, migrated to ioredis
  src/backend/README.md
  src/backend/docs/AUTH.md
  src/backend/src/api/controllers/AuthController.ts
  src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/rateLimiter.middleware.ts
  src/backend/src/api/routes/auth.routes.ts
  src/backend/src/api/validators/auth.validator.ts
  src/backend/src/app.ts
  src/backend/src/auth/RoleValidator.ts
  src/backend/src/config/database.ts
  src/backend/src/config/redis.ts
  src/backend/src/config/services.ts
  src/backend/src/config/supabase.ts
  src/backend/src/interfaces/services/index.ts
  src/backend/src/models/Card.ts
  src/backend/src/models/Content.ts
  src/backend/src/server.ts
  src/backend/src/services/AuthService.ts
  src/backend/src/services/RateLimiterService.ts
  src/backend/src/services/RedisService.ts
  src/backend/src/services/SupabaseService.ts
  src/backend/src/services/TokenService.ts
  src/backend/src/utils/errors.ts
  src/backend/src/utils/jwt.ts
  src/web/src/constants/api.ts
  src/web/src/services/authService.ts
  src/web/src/types/auth.ts
Owners: @membo/backend-team, @membo/tech-leads, @membo/frontend-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @membo/core-team will be requested for review
* @membo/core-team

# Backend service code ownership
src/backend/** @membo/backend-team @membo/tech-leads

# Web application code ownership
src/web/** @membo/frontend-team @membo/tech-leads

# Mobile application code ownership
src/ios/** @membo/ios-team @membo/mobile-leads
src/android/** @membo/android-team @membo/mobile-leads

# Infrastructure and deployment configuration ownership
infrastructure/** @membo/devops-team @membo/tech-leads

# CI/CD workflow configuration ownership
.github/workflows/** @membo/devops-team @membo/tech-leads

# AI processing components require both AI and backend team review
src/backend/src/core/ai/** @membo/ai-team @membo/backend-team

# Study algorithm components require both learning and backend team review
src/backend/src/core/study/** @membo/learning-team @membo/backend-team

# Security configuration requires both security and devops team review
infrastructure/security/** @membo/security-team @membo/devops-team

# Monitoring configuration requires both devops and SRE team review
infrastructure/monitoring/** @membo/devops-team @membo/sre-team

# Package dependency management restricted to tech leads for security
package.json @membo/tech-leads

# CODEOWNERS file modifications restricted to tech leads only
.github/CODEOWNERS @membo/tech-leads
