Repository illyay2017/membo.ai-3lbhdq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @membo/core-team, @membo/backend-team, @membo/tech-leads, @membo/frontend-team, @membo/ios-team, @membo/mobile-leads, @membo/android-team, @membo/devops-team, @membo/ai-team, @membo/learning-team, @membo/security-team, @membo/sre-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @membo/core-team will be requested for review
* @membo/core-team

# Backend service code ownership
src/backend/** @membo/backend-team @membo/tech-leads

# Web application code ownership
src/web/** @membo/frontend-team @membo/tech-leads

# Mobile application code ownership
src/ios/** @membo/ios-team @membo/mobile-leads
src/android/** @membo/android-team @membo/mobile-leads

# Infrastructure and deployment configuration ownership
infrastructure/** @membo/devops-team @membo/tech-leads

# CI/CD workflow configuration ownership
.github/workflows/** @membo/devops-team @membo/tech-leads

# AI processing components require both AI and backend team review
src/backend/src/core/ai/** @membo/ai-team @membo/backend-team

# Study algorithm components require both learning and backend team review
src/backend/src/core/study/** @membo/learning-team @membo/backend-team

# Security configuration requires both security and devops team review
infrastructure/security/** @membo/security-team @membo/devops-team

# Monitoring configuration requires both devops and SRE team review
infrastructure/monitoring/** @membo/devops-team @membo/sre-team

# Package dependency management restricted to tech leads for security
package.json @membo/tech-leads

# CODEOWNERS file modifications restricted to tech leads only
.github/CODEOWNERS @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/Managers/NotificationManager.m
  src/ios/membo/Managers/NotificationManager.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/Managers/StudyManager.h
  src/ios/membo/Managers/StudyManager.h
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/Managers/StudyManager.m
  src/ios/membo/Managers/StudyManager.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/Managers/VoiceManager.h
  src/ios/membo/Managers/VoiceManager.h
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/Managers/VoiceManager.m
  src/ios/membo/Managers/VoiceManager.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/NativeModules/RNContentCaptureModule.h
  src/ios/membo/NativeModules/RNContentCaptureModule.h
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/NativeModules/RNContentCaptureModule.m
  src/ios/membo/NativeModules/RNContentCaptureModule.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/NativeModules/RNNotificationModule.h
  src/ios/membo/NativeModules/RNNotificationModule.h
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/NativeModules/RNNotificationModule.m
  src/ios/membo/NativeModules/RNNotificationModule.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/NativeModules/RNStudyModule.h
  src/ios/membo/NativeModules/RNStudyModule.h
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/NativeModules/RNStudyModule.m
  src/ios/membo/NativeModules/RNStudyModule.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/NativeModules/RNVoiceModule.h
  src/ios/membo/NativeModules/RNVoiceModule.h
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/NativeModules/RNVoiceModule.m
  src/ios/membo/NativeModules/RNVoiceModule.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/Utils/AudioSessionManager.h
  src/ios/membo/Utils/AudioSessionManager.h
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/Utils/AudioSessionManager.m
  src/ios/membo/Utils/AudioSessionManager.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/Utils/FileManager.h
  src/ios/membo/Utils/FileManager.h
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/Utils/FileManager.m
  src/ios/membo/Utils/FileManager.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/Utils/PermissionManager.h
  src/ios/membo/Utils/PermissionManager.h
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/membo/Utils/PermissionManager.m
  src/ios/membo/Utils/PermissionManager.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/memboTests/ContentCaptureManagerTests.m
  src/ios/memboTests/ContentCaptureManagerTests.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/memboTests/NotificationManagerTests.m
  src/ios/memboTests/NotificationManagerTests.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/memboTests/StudyManagerTests.m
  src/ios/memboTests/StudyManagerTests.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/memboTests/VoiceManagerTests.m
  src/ios/memboTests/VoiceManagerTests.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/ios/memboTests/memboTests.m
  src/ios/memboTests/memboTests.m
Owners: @membo/ios-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/web/.env.example
  src/web/.env.example
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/.prettierrc
  src/web/.prettierrc
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/README.md
  src/web/README.md
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/index.html
  src/web/index.html
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/package.json
  src/web/package.json
Owners: @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/extension/background.ts
  src/web/extension/background.ts
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/extension/content.ts
  src/web/extension/content.ts
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/extension/manifest.json
  src/web/extension/manifest.json
Owners: @membo/frontend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/web/extension/popup.html
  src/web/extension/popup.html
Owners: @membo/frontend-team, @membo/tech-leads
