Repository illyay2017/membo.ai-3lbhdq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @membo/core-team, @membo/backend-team, @membo/tech-leads, @membo/frontend-team, @membo/ios-team, @membo/mobile-leads, @membo/android-team, @membo/devops-team, @membo/ai-team, @membo/learning-team, @membo/security-team, @membo/sre-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @membo/core-team will be requested for review
* @membo/core-team

# Backend service code ownership
src/backend/** @membo/backend-team @membo/tech-leads

# Web application code ownership
src/web/** @membo/frontend-team @membo/tech-leads

# Mobile application code ownership
src/ios/** @membo/ios-team @membo/mobile-leads
src/android/** @membo/android-team @membo/mobile-leads

# Infrastructure and deployment configuration ownership
infrastructure/** @membo/devops-team @membo/tech-leads

# CI/CD workflow configuration ownership
.github/workflows/** @membo/devops-team @membo/tech-leads

# AI processing components require both AI and backend team review
src/backend/src/core/ai/** @membo/ai-team @membo/backend-team

# Study algorithm components require both learning and backend team review
src/backend/src/core/study/** @membo/learning-team @membo/backend-team

# Security configuration requires both security and devops team review
infrastructure/security/** @membo/security-team @membo/devops-team

# Monitoring configuration requires both devops and SRE team review
infrastructure/monitoring/** @membo/devops-team @membo/sre-team

# Package dependency management restricted to tech leads for security
package.json @membo/tech-leads

# CODEOWNERS file modifications restricted to tech leads only
.github/CODEOWNERS @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/README.md
  src/backend/README.md
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/package.json
  src/backend/package.json
Owners: @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/controllers/AuthController.ts
  src/backend/src/api/controllers/AuthController.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/controllers/CardController.ts
  src/backend/src/api/controllers/CardController.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/controllers/ContentController.ts
  src/backend/src/api/controllers/ContentController.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/controllers/StudyController.ts
  src/backend/src/api/controllers/StudyController.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/controllers/UserController.ts
  src/backend/src/api/controllers/UserController.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/controllers/VoiceController.ts
  src/backend/src/api/controllers/VoiceController.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/middlewares/error.middleware.ts
  src/backend/src/api/middlewares/error.middleware.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/middlewares/rateLimiter.middleware.ts
  src/backend/src/api/middlewares/rateLimiter.middleware.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/middlewares/validation.middleware.ts
  src/backend/src/api/middlewares/validation.middleware.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/routes/auth.routes.ts
  src/backend/src/api/routes/auth.routes.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/routes/cards.routes.ts
  src/backend/src/api/routes/cards.routes.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/routes/content.routes.ts
  src/backend/src/api/routes/content.routes.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/routes/index.ts
  src/backend/src/api/routes/index.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/routes/study.routes.ts
  src/backend/src/api/routes/study.routes.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/routes/users.routes.ts
  src/backend/src/api/routes/users.routes.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/routes/voice.routes.ts
  src/backend/src/api/routes/voice.routes.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/validators/auth.validator.ts
  src/backend/src/api/validators/auth.validator.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/validators/card.validator.ts
  src/backend/src/api/validators/card.validator.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/validators/content.validator.ts
  src/backend/src/api/validators/content.validator.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/validators/study.validator.ts
  src/backend/src/api/validators/study.validator.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/validators/user.validator.ts
  src/backend/src/api/validators/user.validator.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/api/validators/voice.validator.ts
  src/backend/src/api/validators/voice.validator.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/config/database.ts
  src/backend/src/config/database.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/config/logger.ts
  src/backend/src/config/logger.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/config/openai.ts
  src/backend/src/config/openai.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/config/redis.ts
  src/backend/src/config/redis.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/config/supabase.ts
  src/backend/src/config/supabase.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/constants/errorCodes.ts
  src/backend/src/constants/errorCodes.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/constants/studyModes.ts
  src/backend/src/constants/studyModes.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/constants/userRoles.ts
  src/backend/src/constants/userRoles.ts
Owners: @membo/backend-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/backend/src/core/ai/cardGenerator.ts
  src/backend/src/core/ai/cardGenerator.ts
Owners: @membo/ai-team, @membo/backend-team
