Repository illyay2017/membo.ai-3lbhdq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @membo/core-team, @membo/backend-team, @membo/tech-leads, @membo/frontend-team, @membo/ios-team, @membo/mobile-leads, @membo/android-team, @membo/devops-team, @membo/ai-team, @membo/learning-team, @membo/security-team, @membo/sre-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @membo/core-team will be requested for review
* @membo/core-team

# Backend service code ownership
src/backend/** @membo/backend-team @membo/tech-leads

# Web application code ownership
src/web/** @membo/frontend-team @membo/tech-leads

# Mobile application code ownership
src/ios/** @membo/ios-team @membo/mobile-leads
src/android/** @membo/android-team @membo/mobile-leads

# Infrastructure and deployment configuration ownership
infrastructure/** @membo/devops-team @membo/tech-leads

# CI/CD workflow configuration ownership
.github/workflows/** @membo/devops-team @membo/tech-leads

# AI processing components require both AI and backend team review
src/backend/src/core/ai/** @membo/ai-team @membo/backend-team

# Study algorithm components require both learning and backend team review
src/backend/src/core/study/** @membo/learning-team @membo/backend-team

# Security configuration requires both security and devops team review
infrastructure/security/** @membo/security-team @membo/devops-team

# Monitoring configuration requires both devops and SRE team review
infrastructure/monitoring/** @membo/devops-team @membo/sre-team

# Package dependency management restricted to tech leads for security
package.json @membo/tech-leads

# CODEOWNERS file modifications restricted to tech leads only
.github/CODEOWNERS @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/security/waf/config.yaml
  infrastructure/security/waf/config.yaml
Owners: @membo/security-team, @membo/devops-team

Add public-samples/membo.ai-3lbhdq/infrastructure/security/waf/rules.yaml
  infrastructure/security/waf/rules.yaml
Owners: @membo/security-team, @membo/devops-team

Add public-samples/membo.ai-3lbhdq/infrastructure/terraform/gcp/main.tf
  infrastructure/terraform/gcp/main.tf
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/terraform/gcp/outputs.tf
  infrastructure/terraform/gcp/outputs.tf
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/terraform/gcp/variables.tf
  infrastructure/terraform/gcp/variables.tf
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/terraform/gcp/modules/database/main.tf
  infrastructure/terraform/gcp/modules/database/main.tf
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/terraform/gcp/modules/database/variables.tf
  infrastructure/terraform/gcp/modules/database/variables.tf
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/terraform/gcp/modules/kubernetes/main.tf
  infrastructure/terraform/gcp/modules/kubernetes/main.tf
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/terraform/gcp/modules/kubernetes/variables.tf
  infrastructure/terraform/gcp/modules/kubernetes/variables.tf
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/terraform/gcp/modules/networking/main.tf
  infrastructure/terraform/gcp/modules/networking/main.tf
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/terraform/gcp/modules/networking/variables.tf
  infrastructure/terraform/gcp/modules/networking/variables.tf
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/terraform/gcp/modules/storage/main.tf
  infrastructure/terraform/gcp/modules/storage/main.tf
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/terraform/gcp/modules/storage/variables.tf
  infrastructure/terraform/gcp/modules/storage/variables.tf
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/src/android/.gitignore
  src/android/.gitignore
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/README.md
  src/android/README.md
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/build.gradle
  src/android/build.gradle
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/gradle.properties
  src/android/gradle.properties
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/gradlew
  src/android/gradlew
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/gradlew.bat
  src/android/gradlew.bat
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/local.properties
  src/android/local.properties
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/settings.gradle
  src/android/settings.gradle
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/build.gradle
  src/android/app/build.gradle
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/google-services.json
  src/android/app/google-services.json
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/proguard-rules.pro
  src/android/app/proguard-rules.pro
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/androidTest/java/ai/membo/ContentCaptureManagerTest.java
  src/android/app/src/androidTest/java/ai/membo/ContentCaptureManagerTest.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/androidTest/java/ai/membo/NotificationManagerTest.java
  src/android/app/src/androidTest/java/ai/membo/NotificationManagerTest.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/androidTest/java/ai/membo/StudyManagerTest.java
  src/android/app/src/androidTest/java/ai/membo/StudyManagerTest.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/androidTest/java/ai/membo/VoiceManagerTest.java
  src/android/app/src/androidTest/java/ai/membo/VoiceManagerTest.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/AndroidManifest.xml
  src/android/app/src/main/AndroidManifest.xml
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/java/ai/membo/MainActivity.java
  src/android/app/src/main/java/ai/membo/MainActivity.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/java/ai/membo/MainApplication.java
  src/android/app/src/main/java/ai/membo/MainApplication.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/java/ai/membo/constants/ErrorCodes.java
  src/android/app/src/main/java/ai/membo/constants/ErrorCodes.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/java/ai/membo/constants/StudyModes.java
  src/android/app/src/main/java/ai/membo/constants/StudyModes.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/java/ai/membo/constants/VoiceConstants.java
  src/android/app/src/main/java/ai/membo/constants/VoiceConstants.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/java/ai/membo/managers/ContentCaptureManager.java
  src/android/app/src/main/java/ai/membo/managers/ContentCaptureManager.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/java/ai/membo/managers/NotificationManager.java
  src/android/app/src/main/java/ai/membo/managers/NotificationManager.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/java/ai/membo/managers/StudyManager.java
  src/android/app/src/main/java/ai/membo/managers/StudyManager.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/java/ai/membo/managers/VoiceManager.java
  src/android/app/src/main/java/ai/membo/managers/VoiceManager.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/java/ai/membo/modules/RNContentCaptureModule.java
  src/android/app/src/main/java/ai/membo/modules/RNContentCaptureModule.java
Owners: @membo/android-team, @membo/mobile-leads

Add public-samples/membo.ai-3lbhdq/src/android/app/src/main/java/ai/membo/modules/RNNotificationModule.java
  src/android/app/src/main/java/ai/membo/modules/RNNotificationModule.java
Owners: @membo/android-team, @membo/mobile-leads
