Repository illyay2017/membo.ai-3lbhdq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @membo/core-team, @membo/backend-team, @membo/tech-leads, @membo/frontend-team, @membo/ios-team, @membo/mobile-leads, @membo/android-team, @membo/devops-team, @membo/ai-team, @membo/learning-team, @membo/security-team, @membo/sre-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @membo/core-team will be requested for review
* @membo/core-team

# Backend service code ownership
src/backend/** @membo/backend-team @membo/tech-leads

# Web application code ownership
src/web/** @membo/frontend-team @membo/tech-leads

# Mobile application code ownership
src/ios/** @membo/ios-team @membo/mobile-leads
src/android/** @membo/android-team @membo/mobile-leads

# Infrastructure and deployment configuration ownership
infrastructure/** @membo/devops-team @membo/tech-leads

# CI/CD workflow configuration ownership
.github/workflows/** @membo/devops-team @membo/tech-leads

# AI processing components require both AI and backend team review
src/backend/src/core/ai/** @membo/ai-team @membo/backend-team

# Study algorithm components require both learning and backend team review
src/backend/src/core/study/** @membo/learning-team @membo/backend-team

# Security configuration requires both security and devops team review
infrastructure/security/** @membo/security-team @membo/devops-team

# Monitoring configuration requires both devops and SRE team review
infrastructure/monitoring/** @membo/devops-team @membo/sre-team

# Package dependency management restricted to tech leads for security
package.json @membo/tech-leads

# CODEOWNERS file modifications restricted to tech leads only
.github/CODEOWNERS @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/.github/dependabot.yml
  .github/dependabot.yml
Owners: @membo/core-team

Add public-samples/membo.ai-3lbhdq/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @membo/core-team

Add public-samples/membo.ai-3lbhdq/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @membo/core-team

Add public-samples/membo.ai-3lbhdq/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @membo/core-team

Add public-samples/membo.ai-3lbhdq/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @membo/core-team

Add public-samples/membo.ai-3lbhdq/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @membo/core-team

Add public-samples/membo.ai-3lbhdq/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @membo/core-team

Add public-samples/membo.ai-3lbhdq/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @membo/core-team

Add public-samples/membo.ai-3lbhdq/infrastructure/backup/velero/backup.yaml
  infrastructure/backup/velero/backup.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/backup/velero/restore.yaml
  infrastructure/backup/velero/restore.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/backup/velero/schedule.yaml
  infrastructure/backup/velero/schedule.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/kubernetes/backend/deployment.yaml
  infrastructure/kubernetes/backend/deployment.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/kubernetes/backend/hpa.yaml
  infrastructure/kubernetes/backend/hpa.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/kubernetes/backend/service.yaml
  infrastructure/kubernetes/backend/service.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/kubernetes/base/ingress.yaml
  infrastructure/kubernetes/base/ingress.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/kubernetes/base/secrets.yaml
  infrastructure/kubernetes/base/secrets.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/kubernetes/web/deployment.yaml
  infrastructure/kubernetes/web/deployment.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/kubernetes/web/hpa.yaml
  infrastructure/kubernetes/web/hpa.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/kubernetes/web/service.yaml
  infrastructure/kubernetes/web/service.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/monitoring/elk/apm.yaml
  infrastructure/monitoring/elk/apm.yaml
Owners: @membo/devops-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/infrastructure/monitoring/elk/elasticsearch.yaml
  infrastructure/monitoring/elk/elasticsearch.yaml
Owners: @membo/devops-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/infrastructure/monitoring/elk/filebeat.yaml
  infrastructure/monitoring/elk/filebeat.yaml
Owners: @membo/devops-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/infrastructure/monitoring/elk/kibana.yaml
  infrastructure/monitoring/elk/kibana.yaml
Owners: @membo/devops-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/infrastructure/monitoring/elk/logstash.yaml
  infrastructure/monitoring/elk/logstash.yaml
Owners: @membo/devops-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/infrastructure/monitoring/elk/metricbeat.yaml
  infrastructure/monitoring/elk/metricbeat.yaml
Owners: @membo/devops-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/infrastructure/monitoring/grafana/datasources.yaml
  infrastructure/monitoring/grafana/datasources.yaml
Owners: @membo/devops-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/infrastructure/monitoring/grafana/dashboards/backend.json
  infrastructure/monitoring/grafana/dashboards/backend.json
Owners: @membo/devops-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/infrastructure/monitoring/grafana/dashboards/system.json
  infrastructure/monitoring/grafana/dashboards/system.json
Owners: @membo/devops-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/infrastructure/monitoring/grafana/dashboards/web.json
  infrastructure/monitoring/grafana/dashboards/web.json
Owners: @membo/devops-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/infrastructure/monitoring/prometheus/prometheus.yaml
  infrastructure/monitoring/prometheus/prometheus.yaml
Owners: @membo/devops-team, @membo/sre-team

Add public-samples/membo.ai-3lbhdq/infrastructure/redis/redis.yaml
  infrastructure/redis/redis.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/redis/sentinel.yaml
  infrastructure/redis/sentinel.yaml
Owners: @membo/devops-team, @membo/tech-leads

Add public-samples/membo.ai-3lbhdq/infrastructure/security/cert-manager/certificates.yaml
  infrastructure/security/cert-manager/certificates.yaml
Owners: @membo/security-team, @membo/devops-team

Add public-samples/membo.ai-3lbhdq/infrastructure/security/cert-manager/cluster-issuer.yaml
  infrastructure/security/cert-manager/cluster-issuer.yaml
Owners: @membo/security-team, @membo/devops-team
